<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base">
	
	<div layout:fragment="content">
		
		<script src="../../js/jquery.dataTables.min.js" th:src="@{/js/jquery.dataTables.min.js}"></script>
		<script src="../../js/tables.js" th:src="@{/js/tables.js}"></script>
		
		<div id="content-header">
			<h1>Lista de Notas</h1>
		</div>
		
		<div class="row">
			<div class="col-12">
				<div class="widget-box"> 
					<div class="widget-title">
						<span class="icon">
							<i class="glyphicon glyphicon-th"></i>
						</span>
						<h5>Lista de Notas por Trabajos</h5>
					</div>
					<div class="widget-content nopadding">
						<table id="tableFilter" class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th>Documento</th>
									<th>Docente</th>
									<th>Nota</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="documento : ${documentos}">
									<td th:text="${documento.tarea}"></td>
									<td th:text="${documento.docente}"></td>
									<td th:text="${documento.nota}"></td>
								</tr>
							</tbody>
						</table>							
					</div>
				</div>
			</div>
		</div>	
		<script type="text/javascript">
			window.onload=function(){$("#sidebar>ul>li:eq(4)").addClass("active");}						
	    </script>
	</div>
</html>